<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p> Hello, <span th:text="${teacher}"/></p>
    <p> <span th:text="${student}"/> just enrolled for course <span th:text="${course}"/></p>
</body>
</html>