<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p> Hello, <span th:text="${name}"/></p>
    <p> New course was added in <span th:text="${course}"/></p>
</body>
</html>